# https://github.com/lowlighter/metrics/blob/master/.github/readme/partials/documentation/setup/action.md
name: Metrics
on:
  # Schedule updates every Saturday at midnight UTC
  # CRON FIELDS: minute hour day-of-month month day-of-week (0=SUN 6=SAT)
  # schedule: [{cron: "0 0 * * 6"}]
  schedule: [{cron: "15 13 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: traveltimn
          config_timezone: Europe/Dublin
          plugin_languages: yes
          plugin_isocalendar: yes
          plugin_stars: yes
